<%= form_for @book do |f| %>
    <%= f.hidden_field :author_id, :value => @author.id %>
    <div class="input-field col s6">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
    </div>
    <div class="input-field col s6">
        <%= f.label :genre, 'Genre' %>
        <%= f.text_field :genre %>
    </div>
    <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
  <% end %>